# file options

--exclude Tests/XCTestManifests.swift,Tests/BadConfig,Snapshots,Build,PluginTests

# format options (swiftformat --options)

--acronyms true
--commas inline
--indent 4
--linebreaks lf
--maxwidth 120
--self remove
--trimwhitespace always

--swiftversion 5.7

# rules
--enable acronyms
--enable isEmpty
